/* img of the navbar */
#miniature{
    height:100%;
    width:100%;
}
/* container for the navbar's image */
#image-nav{
    margin:0;
    padding:0;
    width: 3%;
    
}
/* navbar */
nav{
    background-color: rgba(0, 0, 0, 0.3);
    height:5%;
    top:0;
    width: auto;
}
/* when the user scrolls down*/
.scrollDown{
    animation-name: darken;
    animation-duration: 3s;
    background-color: rgb(0, 0, 0);
    height:5%;
    top:0;
    width: auto;
}
/* when the user scrolls to the top*/
.scrollInitial{
    animation-name: lighten;
    animation-duration: 1s;
    background-color:  rgba(0, 0, 0, 0.3);
    height:5%;
    top:0;
    width: auto;
}
@keyframes darken{
    from{
        background-color: rgba(0, 0, 0, 0.3);
    }
    to{
        background-color: rgba(0, 0, 0, 1);
    }
}
@keyframes lighten{
    from{
        background-color: rgba(0, 0, 0, 1);      
    }
    to{
        background-color: rgba(0, 0, 0, 0.3); 
    }
}

button{
    color:white;
    font-size: small;
    border:none;
    width: 24%;
    height:100%;
    float: right;
    background-color: transparent;
}
button:hover{
    color: rgb(136, 197, 227)
 }

/*1st background container*/
#section1{
    height: 100vh;   
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/road_trip.jpg), url(../images/puydufou.jpg), url(../images/ciotat.jpg);
    background-size: cover;
    
}
/*2nd background container*/
#section2{
    height: 120vh;
}
/*3rd background container*/
#section3{
    
    background-color: yellow ;
}
/*4rd background container*/
#section4{
    height: 110vh;  
    background: #f7f7f7; 
}
#section5{
    height: 100vh;  
}

h1{
    color:white;
    -webkit-text-stroke: 0.2px black;
}

p{
    font-size: 30px;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;

}
/*center element*/
.title{
    display: grid;
    align-items: center;
    height:40%;/* à delete*/
    width: 50%;/* à delete*/
    text-align: center;
}
.center{
    display: grid;
    align-items: center;
    margin-left: 20%;
    margin-right:20%;
    text-align: center;
}



/* logo's image*/
.logo{
    margin: 10% 6% 6% 6%;
    height:15%;
    width:12%;
}
.logoLong{
    margin: 0% 14% 6% 14%;
    height:15%;
    width:20%;
}
/* cencé etre utiliser pour centré les images
.image-container{
    display:flex;
    justify-content: center;
    align-items:center;
  } 
*/
 .projet{
    width: 40%;
    height: 40%;
}

img{
    margin:2%;
    height:40%;
    width: 45%;
}

#projet1{
    display:inline-block;
    margin:2%;
    height:40%;
    width: 45%;
    background-color:rgba(136, 197, 227, 0.5);
}
/* à delete*/
.temp{
   
    height:100%;
    width: 100%;
    margin:0;
   
}
p{
    
    font-family: 'Montserrat', sans-serif;
    margin:0;
    display:flex;
    float: inline-start;
}
h2{
    font-weight: 700;
    
    display: grid;
    align-items: center;
    padding-top: 5%;
    margin-left: 20%;
    margin-right:20%;
    text-align: center;
}
svg{
    height: AUTO;
    width: AUTO;
}

