/* image de la barre de navigation */
#miniature{
    height:100%;
    width:100%;
}
/* conteneur de l'image de la barre de navigation */
#image-nav{
    margin:0;
    padding:0;
    width: 3%;
    
}
/* barre de navigation */
nav{
    background-color: rgba(0, 0, 0, 0.3);
    height:5%;
    top:0;
    width: auto;
}
/* when the user scrolled down*/
.scrollnav{
    animation-name: darken;
    animation-duration: 3s;
    background-color: rgb(0, 0, 0);
    height:5%;
    top:0;
    width: auto;
}
@keyframes darken{
    from{
        background-color: rgba(0, 0, 0, 0.3);
    }
    to{
        background-color: rgba(0, 0, 0, 1);
    }
}
button{
    color:white;
    font-size: small;
    border:none;
    width: 32.3%;
    height:100%;
    float: right;
    background-color: transparent;
}
button:hover{
    color: rgb(136, 197, 227)
 }

/*image de fond*/
.background{
    height: 100vh;   
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/road_trip.jpg), url(../images/puydufou.jpg), url(../images/ciotat.jpg);
    background-size: cover;
    
}

h1{
    color:white;
    -webkit-text-stroke: 0.2px black;
}

p{
    font-size: 30px;
}

body{
    margin:0;
    padding:0;

}
/*classe pour placer au centre d'un element */
.center{
    display: grid;
    align-items: center;
    height:40%;/* à delete*/
    width: 50%;/* à delete*/
    text-align: center;
}

/*2eme conteneur*/
.background2{
    height: 100vh;  
    background: #f7f7f7; 
}

/* classe pour image de logo*/
.logo{
    margin: 4.5%;
    height:20%;
    width:15%;
}
/* cencé etre utiliser pour centré les images
.image-container{
    display:flex;
    justify-content: center;
    align-items:center;
  } 
*/
 .projet{
    width: 40%;
    height: 40%;
}

img{
    margin:2%;
    height:40%;
    width: 45%;
}

#projet1{
    display:inline-block;
    margin:2%;
    height:40%;
    width: 45%;
    background-color:rgba(136, 197, 227, 0.5);
}
/* à delete*/
.temp{
   
    height:100%;
    width: 100%;
    margin:0;
   
}
p{
    margin:0;
    display:flex;
    float: inline-start;
}
.rococo{
    
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(121,9,17,1) 100%);
}