/* image de la barre de navigation */
#bee{
    height:100%;
    width:100%;
}
/* conteneur de l'image de la barre de navigation */
#image-nav{
    margin:0;
    padding:0;
    width: 3%;
    
}
/* barre de navigation */
nav{
    background-color: rgba(0, 0, 0, 0.3);
    height:5%;
    top:0;
    width: auto;
}

button{
    color:white;
    font-size:medium;
    border:none;
    width: 32.33333333%;
    height:100%;
    float: right;
    background-color: transparent;
}
button:hover{
    color: rgb(136, 197, 227)
 }

/*image de fond*/
div.background{
    height: 100vh;
    
    
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/road_trip.jpg);
    background-size: cover;
    
}

h1{
    color:white;
    display: inline;
   /* -webkit-text-stroke: 2px black;*/
}

p{
    font-size: 50px;
}

body{
    margin:0;
    padding:0;

}
/*classe pour placer au centre d'un element */
.center{
    display: grid;
    align-items: center;
    height:100%;/* à delete*/
    width: 100%;/* à delete*/
    text-align: center;
}
